<ion-view>
  <ion-nav-title >
    <span translate>calendario.agenda</span>
  </ion-nav-title>
  <ion-content class="has-header calendario">
    <ion-refresher
      pulling-text="{{'global.puxe_para_atualizar' | translate}}"
      on-refresh='refresh()'></ion-refresher>
    <div ng-if="!eventos.dias.length" class="row row-center">
      <div class="col col-center text-center">
        <span translate>global.nenhum_registro_encontrado</span>
      </div>
    </div>

    <div class="item item-divider" ng-repeat-start="dia in eventos.dias" ng-if="primeiroDoMes(eventos.dias, dia)">
      {{'global.mes.' + dia.mes | translate}} {{dia.ano}}
    </div>
    <ion-list ng-repeat-end>
      <ion-item class="item-icon-left" ng-class="{'hoje':dia.hoje}">
        <i class="icon" title="{{'calendario.dia' | translate:{dia: dia.dia}}}">{{dia.dia | zpad:2}}</i>

        <ion-list>
          <ion-item class="item-text-wrap" ng-repeat="evento in dia.eventos" ng-click="adicionarNaAgenda(evento)" >
            <div class="item-note">{{evento.inicio | date:'HH:mm'}} - {{evento.termino | date:'HH:mm'}}</div>
            <h2 title="{{evento.descricao}}">{{evento.descricao}}</h2>
            <p ng-if="evento.local">
              {{evento.local}}
            </p>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="more()"
      distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
