<ion-view>
    <ion-nav-title>
        <span translate>cantico.canticos</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="showSearch()" href=""
           class="button button-icon positive fa fa-search" ></a>
    </ion-nav-buttons>
    <calvin-pagination searcher="searcher" ng-model="canticos" cache="canticos">
        <ion-item ng-click="detalhar(cantico)" ng-repeat="cantico in canticos">
            <h2>
                {{cantico.titulo}}
            </h2>
            <p>{{cantico.autor}}</p>
        </ion-item>
    </calvin-pagination>
</ion-view>
