<ion-view>
    <ion-nav-title>
        <span translate>hino.hinos</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="showSearch()" href=""
           class="button button-icon icon positive fa fa-search" ></a>
    </ion-nav-buttons>
    <calvin-pagination searcher="searcher" ng-model="hinos" cache="hinos">
        <ion-item ng-click="detalhar(hino)" ng-repeat="hino in hinos">
            <h2>
                <b  style="margin-right: 15px;">{{hino.numero}}</b> {{hino.nome}} 
                <span class='item-note' > 
                    {{hino.assunto}}
                </span>
            </h2>
            <p>{{hino.autor}}</p>
        </ion-item>
    </calvin-pagination>
</ion-view>