<ion-view>
    <ion-nav-title >
        <span translate>youtube.videos</span>
    </ion-nav-title>
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="{{'global.puxe_para_atualizar' | translate}}"
            on-refresh='busca()'></ion-refresher>
        <div ng-if="!presentes.length && !passados.length && !futuros.length" class="row row-center">
            <div class="col col-center text-center">
                <span translate>global.nenhum_registro_encontrado</span>
            </div>
        </div>
        <div ng-repeat="video in presentes">
            <div class="card" ng-click="openModal(video)" >
                <div class="item">
                    <h2>{{video.titulo}}</h2>
                    <span class="badge badge-positive pull-right" translate>youtube.ao_vivo</span>
                </div>
                <div class="item item-body">
                    <img class="full-image" ng-src="{{video.thumbnail}}"
                         title="{{'youtube.clique_para_assistir' | translate}}" />
                    <p>{{video.descricao}}</p>
                </div>
            </div>
        </div>
        <div class="item item-divider" ng-if="futuros.length" translate>
            youtube.proximos_videos_cultos
        </div>
        <div ng-repeat="video in futuros">
            <div class="item item-thumbnail-left item-text-wrap"
                 ng-click="openModal(video)" >
                <img ng-src="{{video.thumbnail}}"
                     title="{{'youtube.clique_para_assistir' | translate}}" />
                <h2>{{video.titulo}}</h2>
                <p>{{video.descricao}}</p>
                <p>{{video.agendamento | date:'dd MMMM yyyy HH:mm'}}</p>
            </div>
        </div>
        <div class="item item-divider" ng-if="passados.length" translate>
            youtube.historico_videos_cultos
        </div>
        <div ng-repeat="video in passados">
            <div class="item item-thumbnail-left item-text-wrap"
                 ng-click="openModal(video)" >
                <img ng-src="{{video.thumbnail}}"
                     title="{{'youtube.clique_para_assistir' | translate}}" />
                <h2>{{video.titulo}}</h2>
                <p>{{video.descricao}}</p>
                <p>{{video.publicacao | date:'dd MMMM yyyy'}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
