<ion-view>
    <ion-nav-title>
        <span translate>agenda.agendamentos</span>
    </ion-nav-title>
    <calvin-pagination searcher="searcher" ng-model="agendamentos" cache="agendamentos" not-found-message="usuario.pastor" >
        <div ng-repeat="agendamento in agendamentos" ng-click='$parent.aselecionado = agendamento.id'>
            <ion-item class="item-text-wrap" ng-class="{'item-button-right':!agendamento.concluido}">
                <h2>
                    {{agendamento.dataHoraInicio | date:'dd MMMM yyyy HH:mm'}}
                    - {{agendamento.dataHoraFim | date:'HH:mm'}}
                </h2>
                <p>
                    <span ng-if='!usuario.pastor'>{{agendamento.calendario.pastor.nome}} </span>
                    <span ng-if='usuario.pastor'>{{agendamento.membro.nome}} </span>
                    <span ng-if='!agendamento.concluido && !agendamento.confirmado' class='item-note assertive'>{{'agenda.status.NAO_CONFIRMADO' | translate}}</span>
                    <span ng-if='!agendamento.concluido && agendamento.confirmado' class='item-note positive'>{{'agenda.status.CONFIRMADO' | translate}}</span>
                    <span ng-if='agendamento.concluido' class='item-note'>{{'agenda.status.CONCLUIDO' | translate}}</span>
                </p>

                <ion-option-button ng-if="!agendamento.concluido" 
                                   ng-click='cancela(agendamento)'
                                   title="{{'agenda.cancelar_agendamento' | translate}}"
                                   class='icon-left ion-trash-a'>
                </ion-option-button>
                <ion-option-button ng-if="usuario.pastor && !agendamento.confirmado" 
                                   ng-click='confirma(agendamento)'
                                   title="{{'agenda.confirmar_agendamento' | translate}}"
                                   class='icon-left ion-checkmark'>
                </ion-option-button>
            </ion-item>
        </div>
        <div class='item' ng-if='!usuario.pastor'>
            <button class='button button-block' ui-sref='agenda.novo'>
                {{'agenda.novo_agendamento' | translate}}
            </button>
        </div>
    </calvin-pagination>
</ion-view>
