<ion-view ng-class="{'fullscreen' : fullscreen}" hide-nav-bar="{{fullscreen}}">
    <ion-nav-title ng-show="fullscreen">
        <span>{{boletim.titulo}}</span>
    </ion-nav-title>
    <ion-content ng-class="{'has-header': !fullscreen}"
                 zooming="true" direction="xy" scrollable-x="false" 
                 scrollable-y="true" min-zoom="1" style="width:100%;height:100%"
                 overflow-scroll="false">
        <div ng-repeat="pagina in boletim.paginas" class="image" ng-click="toggleFullScreen()"
             style="background-color:red;background-image: url( {{pagina.localPath}} )"></div>
    </ion-content>
</ion-view>