<ion-view cache-view="false">
    <ion-nav-title>
        <span translate>boletim.boletins</span>
    </ion-nav-title>
    <calvin-pagination ng-model="boletins" searcher="searcher" cache="boletins">
        <div class="boletins row row-wrap">
            <div class="col col-50" ng-repeat="boletim in boletins">
                <div class="card boletim" ng-click='detalhar(boletim)'>
                    <div class="item item-divider item-text-wrap text-center">
                        {{boletim.titulo}}
                    </div>
                    <div class="item item-complex"
                        style="background-image: url({{boletim.thumbnail.localPath}})">
                                                     
                    </div>
                    <div class="item item-divider text-center">
                        {{boletim.data | date:'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </calvin-pagination>
</ion-view>