<ion-view cache-view="true">
  <ion-nav-title>
    <span>{{'votacao.resultado' | translate}}</span>
  </ion-nav-title>

  <ion-content class="has-header">
    <div class="item item-text-wrap votacao">
      <h2>{{resultado.nome}}</h2>
    </div>

    <ion-slide-box ng-if="resultado" class="default">
      <ion-slide ng-repeat="questao in resultado.questoes">
        <div class="card list">
          <div class="item item-divider item-text-wrap">
            {{questao.questao}}
          </div>
          <div class="item">
            <canvas class="chart chart-doughnut" chart-options="{ legend:{ display: true, position: 'bottom' } }"
                    chart-data="questao.data" chart-labels="questao.labels" ></canvas>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">{{'votacao.votos' | translate}}</div>
          <div class="item item-text-wrap" ng-repeat="opcao in questao.validos">
            {{opcao.opcao}}
            <span class="badge badge-default">{{opcao.resultado}}</span>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
