<ion-view cache-view="false">
    <ion-nav-title>
        <span>{{resposta.votacao.nome}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="item">
            <h1>
                {{questao.questao.questao}}
            </h1>
        </div>

        <div ng-repeat="selection in questao.selections">
            <ion-radio ng-repeat="opcao in questao.questao.opcoes"
                       ng-model="selection.value" ng-value="opcao" ng-attr-name="opcao{{questao.selections.indexOf(selection)}}">{{opcao.opcao}}</ion-radio>
        </div>

        <div class='item'>
            <button class='button button-block button-stable' ng-if='hasAnterior()' ng-click='anterior()'>{{'votacao.anterior' | translate}}</button>
            <button class='button button-block button-stable' ng-if='hasProximo()' ng-click='proximo()'>{{'votacao.proximo' | translate}}</button>
            <button class='button button-block button-positive' ng-if='!hasProximo()' ng-click='conclui()'>{{'votacao.concluir' | translate}}</button>
        </div>
    </ion-content>
</ion-view>
