<ion-view>
    <ion-nav-title>
        <span>{{'biblia.biblia' | translate:hino }}</span>
    </ion-nav-title>
    <ion-content>
        <ion-tabs>
            <ion-tab title="{{'biblia.velho_testamento' | translate}}" >
                <ion-list>
                    <ion-item ui-sref="biblia.livro({livro:livro.id})" ng-repeat='livro in velhoTestamento'>
                        <h2>{{livro.nome}}</h2>
                    </ion-item>
                </ion-list>
            </ion-tab>
            
            <ion-tab title="{{'biblia.novo_testamento'}}" >
                <ion-list>
                    <ion-item ui-sref="biblia.livro({livro:livro.id})" ng-repeat='livro in novoTestamento'>
                        <h2>{{livro.nome}}</h2>
                    </ion-item>
                </ion-list>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>
