<ion-view>
    <ion-nav-title>
        <span>{{livro.nome}} {{capitulo}}</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" 
                      ng-class="{'item-icon-right':versiculo.marcado}"
                      ng-repeat="versiculo in versiculos">
                <p><b style="margin-right: 15px;">{{versiculo.versiculo}}</b> {{versiculo.texto}}</p>
                <i class="icon ion-bookmark" ng-if="versiculo.marcado"></i>
                    
                <ion-option-button class="icon-left ion-android-share-alt"
                                   ng-click='compartilhar(versiculo)'>
                    {{'global.compartilhar' | translate}}
                </ion-option-button>
                <ion-option-button class="icon-left ion-bookmark"
                                   ng-click="marcar(versiculo)"
                                   ng-if="!versiculo.marcado"
                                   title="{{'biblia.adicionar_marcador' | translate}}">
                    {{'biblia.marcar' | translate}}
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>