<ion-view>
    <ion-nav-title>
        <span translate>fotos.galerias</span>
    </ion-nav-title>
    <calvin-pagination searcher='searcher' ng-model="galerias" cache='galerias'>
      <div class="item item-thumbnail-left item-text-wrap"
           ng-repeat="galeria in galerias"
           ng-click="detalhar(galeria)" >
        <img src="https://farm{{galeria.fotoPrimaria.farm}}.staticflickr.com/{{galeria.fotoPrimaria.server}}/{{galeria.fotoPrimaria.id}}_{{galeria.fotoPrimaria.secret}}_s.jpg">
        <h2>{{galeria.nome}}</h2>
        <p>{{galeria.descricao}}</p>
        <p>{{'fotos.quantidade' | translate:{qtde:galeria.quantidadeFotos} }}</p>
      </div>
    </calvin-pagination>
</ion-view>
