<ion-view>
    <ion-nav-title>
        <span translate>notificacao.notificacoes</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="clear()" href="" ng-if="!excluir"
           class="button button-icon icon positive fa fa-trash"
           title="{{'notificacao.excluir_notificacoes' | translate}}"></a>
        <i ng-model="excluirTodos" title="{{'notificacao.todos' | translate}}" ng-if="excluir"
                      ng-click="atualizaExcluirTodos()" style="border:none;background:none"
                      class=""></i>
    </ion-nav-buttons>
    <calvin-pagination ng-model="messages" searcher="searcher" cache="messages" 
                       ng-class="{'has-footer': excluir}">
        <div class="item item-divider" ng-repeat-start="message in messages" ng-if="showData(message, messages)">
            {{message.dataFormatada}}
        </div>
        <ion-item class="item-text-wrap" ng-repeat-end ng-click="acessar(message)">
            <h2>
                {{message.title}}
                <span class="item-note">{{message.data | date:('config.pattern.hour' | translate)}}</span>
            </h2>
            <p>{{message.message}}</p>
            <ion-checkbox item-left ng-if='excluir' ng-checked="excluir.indexOf(message)" ng-click="toggleExcluir(message)" ></ion-checkbox>
            <a class="icon ion-android-share-alt" ng-if="!excluir && message.data.compartilhavel" 
               ng-click="share(message)" title="{{'global.compartilhar' | translate}}"></a>
        </ion-item>
    </calvin-pagination>
    <ion-footer-bar ng-hide="!excluir" class="bar-stable" align-title="center">
        <div class="button-bar">
            <a class="button" ng-click="confirmarExclusao()" ng-disabled="!excluir.length" translate>notificacao.excluir</a>
            <a class="button" ng-click="cancelarExclusao()" translate>notificacao.cancelar</a>
        </div>
    </ion-footer-bar>
</ion-view>
