<ion-view>
    <ion-nav-title>
        <span translate>notificacao.notificacoes</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="clear()" href=""
           class="button button-icon icon positive fa fa-trash" ></a>
    </ion-nav-buttons>
    <calvin-pagination ng-model="messages" searcher="searcher" cache="messages">
        <div class="item item-divider" ng-repeat-start="message in messages" ng-if="showData(message, messages)">
            {{message.data | date:('config.pattern.date' | translate)}}
        </div>
        <ion-item class="item-text-wrap" ng-repeat-end>
            <h2>
                {{message.title}}
                <span class="item-note">{{message.data | date:('config.pattern.hour' | translate)}}</span>
            </h2>
            <p>{{message.message}}</p>
        </ion-item>
    </calvin-pagination>
</ion-view>
