<ion-view>
    <ion-nav-title>
        <span translate>chamado.chamados</span>
    </ion-nav-title>
    <calvin-pagination searcher="searcher" ng-model="chamados" cache="chamados" not-found-message="false">
        <div class="item item-text-wrap">{{'chamado.enunciado' | translate}}</div>
        
        <form id="chamado_form" name="chamado_form" ng-submit="cadastrar(this.chamado_form)" novalidate>
            <div class='item item-divider'>{{'chamado.solicitante' | translate}}</div>
            <label class='item item-input' ng-if="!usuario">
                <input type="text" required ng-model='chamado.nomeSolicitante' maxlength="150" ng-disabled="usuario" placeholder="{{'chamado.nome_solicitante' | translate}}" />
            </label>
            <label class='item item-input' ng-if="!usuario">
                <input type="email" required ng-model='chamado.emailSolicitante' maxlength="150" ng-disabled="usuario" placeholder="{{'chamado.email_solicitante' | translate}}" />
            </label>
            <label class='item' ng-if="usuario">
                {{chamado.nomeSolicitante}}
            </label>
            <label class='item' ng-if="usuario">
                {{chamado.emailSolicitante}}
            </label>
            <div class='item item-divider'>{{'chamado.tipo' | translate}}</div>
            <ion-radio required  ng-model="chamado.tipo" ng-value="'SUGESTAO'">{{'chamado.tipo.SUGESTAO' | translate}}</ion-radio>
            <ion-radio required  ng-model="chamado.tipo" ng-value="'ERRO'">{{'chamado.tipo.ERRO' | translate}}</ion-radio>
            <ion-radio required  ng-model="chamado.tipo" ng-value="'RECLAMACAO'">{{'chamado.tipo.RECLAMACAO' | translate}}</ion-radio>
            <div class='item item-divider'>{{'chamado.descricao' | translate}}</div>
            <label class='item item-input'>
                <textarea rows="5" required ng-model='chamado.descricao' placeholder="{{'chamado.descricao_explicacao' | translate}}" ></textarea>
            </label>
            <div class='item'>
                <input type='submit' class='button button-block button-positive' value="{{'chamado.submeter' | translate}}" />
            </div>
        </form>
        
        <ion-item ng-if='chamados.length' class="item-divider">{{'chamado.chamados' | translate}}</ion-item>
        <div ng-repeat="chamado in chamados" >
            <div class="item item-body item-text-wrap" >
                <h2>
                    {{'chamado.tipo.' + chamado.tipo | translate}}
                    <span class='item-note assertive'>{{'chamado.status.' + chamado.status | translate}}</span>
                </h2>
                {{chamado.descricao}}
                <p>
                    {{'chamado.solicitacao' | translate}}: {{chamado.dataSolicitacao | date:'dd MMMM yyyy HH:mm'}}
                    <span ng-show="chamado.concluido">{{'chamado.atendimento' | translate}}: {{chamado.dataConclusao | date:'dd MMMM yyyy HH:mm'}}</span>
                </p>
            </div>
        </div>
    </calvin-pagination>
</ion-view>
