<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91891814012-cfpoaut80fp4h4g4lch3cuuhmkj0njli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91891814012-cfpoaut80fp4h4g4lch3cuuhmkj0njli</string>
	<key>API_KEY</key>
	<string>AIzaSyDCl5Dp6RYdkbt0GdApY5xZooXBKWgtHZk</string>
	<key>GCM_SENDER_ID</key>
	<string>91891814012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.getit.calvin.ipmadalena</string>
	<key>PROJECT_ID</key>
	<string>ip-madalena</string>
	<key>STORAGE_BUCKET</key>
	<string>ip-madalena.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91891814012:ios:0681fed5778209aabb03f9</string>
	<key>DATABASE_URL</key>
	<string>https://ip-madalena.firebaseio.com</string>
</dict>
</plist>