<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390716388079-8qi3vq4dfmvnhovhsci8h8ed39hsqref.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390716388079-8qi3vq4dfmvnhovhsci8h8ed39hsqref</string>
	<key>API_KEY</key>
	<string>AIzaSyDA23rXAzKDWVQAG14tW0tsDdsiV3eW6Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>390716388079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.getit.calvin.ipvilamaria</string>
	<key>PROJECT_ID</key>
	<string>ip-vila-maria</string>
	<key>STORAGE_BUCKET</key>
	<string>ip-vila-maria.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390716388079:ios:5c68156e72cf2c7350e11a</string>
	<key>DATABASE_URL</key>
	<string>https://ip-vila-maria.firebaseio.com</string>
</dict>
</plist>