<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65118528623-cvq9frrb0meotlm8ar65oeh362rer8nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65118528623-cvq9frrb0meotlm8ar65oeh362rer8nd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65118528623-2dpp644ktce5675pledjckq677q4gv3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDve2WlxubAuKiscT8RE3-vWCMClwguTxU</string>
	<key>GCM_SENDER_ID</key>
	<string>65118528623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.getit.calvin.iceso</string>
	<key>PROJECT_ID</key>
	<string>calvin-app-1469800955782</string>
	<key>STORAGE_BUCKET</key>
	<string>calvin-app-1469800955782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65118528623:ios:538b14224ea7fee9</string>
	<key>DATABASE_URL</key>
	<string>https://calvin-app-1469800955782.firebaseio.com</string>
</dict>
</plist>