<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Batista Central</string>
	<key>CFBundleDisplayName</key>
	<string>Batista Central</string>
	<key>CFBundleExecutable</key>
	<string>Batista Central</string>
	<key>CFBundleIdentifier</key>
	<string>Batista Central</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>Batista Central</string>
	<key>CFBundleName</key>
	<string>Batista Central</string>
	<key>CFBundlePackageType</key>
	<string>Batista Central</string>
	<key>CFBundleShortVersionString</key>
	<string>Batista Central</string>
	<key>CFBundleSignature</key>
	<string>Batista Central</string>
	<key>CFBundleVersion</key>
	<string>Batista Central</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>Batista Central</string>
		<string>Batista Central</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Batista Central</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Batista Central</string>
	<key>UILaunchStoryboardName</key>
	<string>Batista Central</string>
	<key>UIMainStoryboardFile</key>
	<string>Batista Central</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>Batista Central</string>
		<string>Batista Central</string>
		<string>Batista Central</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>Batista Central</string>
		<string>Batista Central</string>
		<string>Batista Central</string>
		<string>Batista Central</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
