<ion-slides style="height:100%;width:100%" ng-if="pdf"
            does-continue="true" options="{loop:true}"
            show-pager="false" slider="slider"
            delegate-handle="slideshow-slidebox">
  <ion-slide-page ng-repeat="slide in slides">
    <ion-scroll scroll='false' zooming="true" direction="xy"
                scrollable-x="false" overflow-scroll="false"
                scrollable-y="false" max-zoom="5" min-zoom="1"
                delegate-handle="scrollHandle{{$index}}"
                on-scroll="updateSlideStatus($index)"
                on-release="updateSlideStatus($index)">
      <pdf-page render-lazy="false" page="slide.page" ></pdf-page>
    </ion-scroll>
  </ion-slide-page>
</ion-slides>
