<ion-scroll zooming="true" direction="y" scrollbar-x="false"
            max-zoom="5" min-zoom="1"
            delegate-handle="scrollHandle{{$index}}"
            on-scroll="updateSlideStatus($index)"
            on-release="updateSlideStatus($index)">
  <ion-slide-box style="height:100%;width:100%" ng-if="pdf"
                 on-slide-changed="slideChanged($index)"
                 active-slide="selectedSlide"
                 does-continue="true"
                 show-pager="false"
                 delegate-handle="slideshow-slidebox">
    <ion-slide ng-repeat="slide in slides" ng-show="showSlide(slide)">
      <pdf-page scale="5" page="slide.page" ></pdf-page>
    </ion-slide>
  </ion-slide-box>
</ion-scroll>
