<ion-scroll direction="xy" >
    <canvas id="pdf-canvas"></canvas>
</ion-scroll>
<ion-footer-bar class="bar-stable">
    <div class="button-bar">
        <button class="button icon ion-arrow-left-a" ng-click="goPrevious()"></button>
        <button class="button icon ion-minus-circled" ng-click="zoomOut()"></button>
        <button class="button icon ion-plus-circled" ng-click="zoomIn()"></button>
        <button class="button icon ion-arrow-right-a" ng-click="goNext()"></button>
    </div>
</ion-footer-bar>