<ion-view>
  <ion-nav-title >
    <span translate>contato.aniversariantes</span>
  </ion-nav-title>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="{{'global.puxe_para_atualizar' | translate}}"
      on-refresh='busca()'></ion-refresher>

    <div class="card list" ng-if="hoje.length">
      <div class="item item-divider" >
        {{'contato.hoje' | translate}}
      </div>
      <ion-item ng-class="{'item-icon-right':contato.pastor || contato.visitante,'item-thumbnail-left':true}"
                ng-click="detalhar(contato)" ng-repeat="contato in hoje" >
        <div class="item-image" style="background-image: url({{localPath(contato.foto)}})" ng-if="contato.foto"></div>
        <img src="img/avatar.png" ng-if="!contato.foto">

        <h2>
          {{contato.nome}}
          <i class="icon ion-star icon-accessory" ng-if='contato.pastor'></i>
          <i class="icon ion-person icon-accessory" ng-if='contato.visitante'></i>
        </h2>

        <p>{{contato.telefones ? (contato.telefones[0] | telefone) : contato.email}}</p>
      </ion-item>
    </div>

    <ion-list ng-if="futuros.length">
      <div class="item item-divider" ng-repeat-start="contato in futuros"
           ng-if="primeiroDoMes(futuros, contato)">
        {{contato.diaAniversarioFormatado}}
      </div>
      <ion-item ng-class="{'item-icon-right':contato.pastor || contato.visitante,'item-avatar':true}"
                ng-click="detalhar(contato)" ng-repeat-end >
        <div class="item-image" style="background-image: url({{localPath(contato.foto)}})" ng-if="contato.foto"></div>
        <img src="img/avatar.png" ng-if="!contato.foto">

        <h2>
          {{contato.nome}}
          <i class="icon ion-star icon-accessory" ng-if='contato.pastor'></i>
          <i class="icon ion-person icon-accessory" ng-if='contato.visitante'></i>
        </h2>
        <p>{{contato.telefones ? (contato.telefones[0] | telefone) : contato.email}}</p>
      </ion-item>
    </ion-list>

    <div ng-if="!futuros.length && !hoje.length" class="row row-center">
      <div class="col col-center text-center">
        <span translate>contato.nenhum_aniversariante_proximos_dias</span>
      </div>
    </div>
  </ion-content>
</ion-view>
