<ion-view class="profile-view home">
    <ion-nav-title>
        <span></span>
    </ion-nav-title>
    <ion-content>
        <div class="top-content row">
            <div class="profile-container">
                <div class="user-image-container">
                    <img src='img/logo.png' />
                </div>
                <div class="social">
                    <a class='fa fa-facebook' href='#' 
                       title="{{'home.facebook' | translace}}"
                       ng-click='site(institucional.redesSociais.facebook)'
                       ng-if="institucional.redesSociais.facebook"></a>
                    <a class='fa fa-twitter' href='#' 
                       title="{{'home.twitter' | translace}}"
                       ng-click='site(institucional.redesSociais.twitter)'
                       ng-if="institucional.redesSociais.twitter"></a>
                    <a class='fa fa-youtube-play' href='#' 
                       title="{{'home.youtube' | translace}}"
                       ng-click='site(institucional.redesSociais.youtube)'
                       ng-if="institucional.redesSociais.youtube"></a>
                    <a class='fa fa-pinterest' href='#' 
                       title="{{'home.pinterest' | translace}}"
                       ng-click='site(institucional.redesSociais.pinterest)'
                       ng-if="institucional.redesSociais.pinterest"></a>
                    <a class='fa fa-google-plus' href='#'
                       title="{{'home.google_plus' | translace}}" 
                       ng-click="site(institucional.redesSociais['google-plus'])"
                       ng-if="institucional.redesSociais['google-plus']"></a>
                    <a class='fa fa-instagram' href='#'
                       title="{{'home.instagram' | translace}}"
                       ng-click='site(institucional.redesSociais.instagram)'
                       ng-if="institucional.redesSociais.instagram"></a>
                </div>
            </div>
        </div>
        <div class="center-content" 
             title="{{institucional.textoDivulgacao}}"
             style="background-image: url({{institucional.divulgacao.localPath}})">
        </div>
    </ion-content>
</ion-view>