<ion-view>
    <ion-nav-title>
        <span translate>leitura.configuracao</span>
    </ion-nav-title>
    <ion-content>
        <form id="leitura_form" name="leitura_form" ng-submit="salva(this.leitura_form)" novalidate>
            <ion-toggle ng-model="configuracao.desejaReceberLembreteLeitura" >
                {{'leitura.deseja_receber_lembrete_leitura' | translate}}
            </ion-toggle>
            <div ng-if='configuracao.desejaReceberLembreteLeitura' class='item item-divider'>{{'leitura.hora_lembrete' | translate}}</div>
            <ion-radio ng-if='configuracao.desejaReceberLembreteLeitura' ng-repeat="hora in horasLembrete" 
                       ng-model="configuracao.horaLembreteLeitura" ng-value="hora">{{'leitura.hora.' + hora | translate}}</ion-radio>
            <ion-item>
                <input type="submit" class='button button-block button-positive' value="{{'global.salvar' | translate}}" />
            </ion-item>
            <ion-item>
                <a class='button button-block button-positive' ui-sref='leitura.escolha' 
                   >{{'global.trocar_plano_leitura' | translate}}</a>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
