<ion-view>
    <ion-nav-title>
        <span>{{plano.descricao}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                {{'leitura.progresso' | translate}}
            </div>
            <div class="item item-icon-left">
                <i class='icon ion-happy positive' ng-if='progresso.emDia && !progresso.concluido'></i>
                <i class='icon ion-sad assertive' ng-if='!progresso.emDia && !progresso.concluido'></i>
                <i class='icon ion-thumbsup positive' ng-if='progresso.concluido'></i>
                <progress max="100" value="{{progresso.porcentagem}}" title="{{progresso.porcentagem}}%"></progress>
                <p ng-if='progresso.emDia && !progresso.concluido'>
                    {{'leitura.em_dia' | translate}}
                </p>
                <p ng-if='!progresso.emDia && !progresso.concluido'>
                    {{'leitura.atrasada' | translate}}
                </p>
                <p ng-if='progresso.concluido'>
                    {{'leitura.concluida' | translate}}
                </p>
            </div>
            <div class="item item-divider">
                {{'leitura.leitura_biblica' | translate}}
            </div>
            <div class="item padding" ng-if='datepicker'>
                <onezone-datepicker datepicker-object="datepicker" ></onezone-datepicker>
            </div>
            <ion-item class='item-divider'
                      ng-if="leitura.dia.descricao">
              {{leitura.dia.data | date:'d MMMM'}}
            </ion-item>
            <ion-toggle class="item-text-wrap"
                        ng-model="leitura.lido"
                        ng-change="toggleLido()"
                        ng-if="leitura.dia.descricao" >
                {{leitura.dia.descricao}}
            </ion-toggle>
            <ion-item>
                <a class='button button-block button-positive' ui-sref='leitura.escolha'
                   >{{'leitura.trocar_plano_leitura' | translate}}</a>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar ng-show="sincronizacao.executando" class="bar-stable" align-title="center">
        <h1 class="title">{{'leitura.sincronizando' | translate:{porcentagem:sincronizacao.porcentagem} }}</h1>
    </ion-footer-bar>
</ion-view>
