<ion-view>
    <ion-nav-title>
        <span>{{'cifra.cifra'}}</span>
    </ion-nav-title>
    <ion-content class="has-footer has-header">
        <ion-slide-box show-pager="false" ng-if="cifra.paginas.length" on-slide-changed="slideChanged(index)" active-slide="slide.activeSlide">
            <ion-slide ng-repeat="pagina in cifra.paginas">
                <ion-scroll scroll='false' zooming="true" direction="xy" scrollable-x="false"
                            scrollable-y="false" min-zoom="1" style="width:100%;height:100%"
                            delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus($index)"
                            on-release="updateSlideStatus($index)" overflow-scroll="false">
                    <div class="image" style="background-image: url( {{pagina.localPath}} )"></div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-stable" ng-if="cifra.paginas.length" align-title="center">
        <h1 class="title">{{'cifra.paginacao' | translate:'{atual:'+(slide.activeSlide+1)+',total:'+ cifra.paginas.length +'}' }}</h1>
    </ion-footer-bar>
</ion-view>
