<ion-view>
    <ion-nav-title>
        <span translate>cifra.cifras</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="showSearch()" href=""
           class="button button-icon positive fa fa-search" ></a>
    </ion-nav-buttons>
    <calvin-pagination searcher="searcher" ng-model="cifras" cache="cifras">
        <ion-item ng-click="detalhar(cifra)" ng-repeat="cifra in cifras">
            <h2>
                {{cifra.titulo}}
            </h2>
            <p>{{cifra.autor}}</p>
        </ion-item>
    </calvin-pagination>
</ion-view>
