<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, viewport-fit=cover">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' blob: data: gap://* file://* * ; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: gap://* file://* *; style-src 'self' 'unsafe-inline' blob: gap://* file://* *">
        <meta name="format-detection" content="telephone=no">
        <title></title>

        <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
        <link href="js/components/pace/pace.css" rel="stylesheet">
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
        <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.min.css" rel="stylesheet">

        <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/ionic-service-core/ionic-core.js"></script>
        <script src="lib/angular-resource/angular-resource.min.js"></script>
        <script src="lib/underscore/underscore-min.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
        <script src="lib/moment/min/moment.min.js"></script>
        <script src="lib/angular-moment/angular-moment.min.js"></script>

        <script src="lib/angular-animate/angular-animate.min.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="lib/lodash/lodash.min.js"></script>
        <script src="lib/restangular/dist/restangular.min.js"></script>
        <script src="lib/angular-translate/angular-translate.min.js"></script>
        <script src="lib/messageformat/messageformat.js"></script>
        <script src="lib/messageformat/locale/pt.js"></script>
        <script src="lib/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.min.js"></script>
        <script src="lib/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
        <script src="lib/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
        <script src="lib/onezone-datepicker/dist/onezone-datepicker.min.js"></script>
        <script src="lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.min.js"></script>
        <script src="lib/angular-ui-mask/dist/mask.min.js"></script>
        <script src="js/youtube/iframe_api.js"></script>
        <script src="lib/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
        <script src="lib/ion-gallery/dist/ion-gallery.min.js"></script>
        <script src="lib/chart.js/dist/Chart.min.js"></script>
        <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="lib/pdfjs-dist/build/pdf.js"></script>
        <script src="lib/angular-inview/angular-inview.js"></script>
        <script src="lib/ev-emitter/ev-emitter.js"></script>
        <script src="lib/desandro-matches-selector/matches-selector.js"></script>
        <script src="lib/fizzy-ui-utils/utils.js"></script>
        <script src="lib/get-size/get-size.js"></script>
        <script src="lib/outlayer/item.js"></script>
        <script src="lib/outlayer/outlayer.js"></script>
        <script src="lib/masonry/dist/masonry.pkgd.min.js"></script>
        <script src="lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="lib/angular-masonry/angular-masonry.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/config.js"></script>
        <script src="js/app.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/components/message/message.factory.js"></script>
        <script src="js/components/pagination/pagination.directive.js"></script>
        <script src="js/components/pace/pace.js"></script>
        <script src="js/components/template/template.js"></script>
        <script src="js/components/filter/mask.filter.js"></script>
        <script src="js/components/filter/tempo-formatado.filter.js"></script>
        <script src="js/components/autocomplete/autocomplete.directive.js"></script>
        <script src="js/components/pdf-page/pdf-page.directive.js"></script>
        <script src="js/components/pdf-gallery/pdf-gallery.directive.js"></script>
        <script src="js/components/pdf-viewer/pdf-viewer.directive.js"></script>
        <script src="js/components/gallery-viewer/gallery-viewer.directive.js"></script>

        <script src="js/institucional/institucional.controller.js"></script>
        <script src="js/boletim/boletim.controller.js"></script>
        <script src="js/publicacao/publicacao.controller.js"></script>
        <script src="js/estudo/estudo.controller.js"></script>
        <script src="js/noticia/noticia.controller.js"></script>
        <script src="js/login/login.controller.js"></script>
        <script src="js/contato/contato.controller.js"></script>
        <script src="js/oracao/oracao.controller.js"></script>
        <script src="js/votacao/votacao.controller.js"></script>
        <script src="js/agenda/agenda.controller.js"></script>
        <script src="js/preferencias/preferencias.controller.js"></script>
        <script src="js/hino/hino.controller.js"></script>
        <script src="js/evento/evento.controller.js"></script>
        <script src="js/home/home.controller.js"></script>
        <script src="js/cifra/cifra.controller.js"></script>
        <script src="js/cantico/cantico.controller.js"></script>
        <script src="js/chamado/chamado.controller.js"></script>
        <script src="js/notificacao/notificacao.controller.js"></script>
        <script src="js/ebd/ebd.controller.js"></script>
        <script src="js/youtube/youtube.controller.js"></script>
        <script src="js/biblia/biblia.controller.js"></script>
        <script src="js/leitura/leitura.controller.js"></script>
        <script src="js/calendario/calendario.controller.js"></script>
        <script src="js/usuario/usuario.controller.js"></script>
        <script src="js/fotos/fotos.controller.js"></script>
        <script src="js/audio/audio.controller.js"></script>

        <script src="js/service/link.service.js"></script>
        <script src="js/service/boletim.service.js"></script>
        <script src="js/service/institucional.service.js"></script>
        <script src="js/service/estudo.service.js"></script>
        <script src="js/service/noticia.service.js"></script>
        <script src="js/service/acesso.service.js"></script>
        <script src="js/service/contato.service.js"></script>
        <script src="js/service/oracao.service.js"></script>
        <script src="js/service/votacao.service.js"></script>
        <script src="js/service/agenda.service.js"></script>
        <script src="js/service/hino.service.js"></script>
        <script src="js/service/evento.service.js"></script>
        <script src="js/service/arquivo.service.js"></script>
        <script src="js/service/pdf.service.js"></script>
        <script src="js/service/cifra.service.js"></script>
        <script src="js/service/chamado.service.js"></script>
        <script src="js/service/cache.service.js"></script>
        <script src="js/service/notificacao.service.js"></script>
        <script src="js/service/share.service.js"></script>
        <script src="js/service/youtube.service.js"></script>
        <script src="js/service/biblia.service.js"></script>
        <script src="js/service/leitura.service.js"></script>
        <script src="js/service/calendario.service.js"></script>
        <script src="js/service/foto.service.js"></script>
        <script src="js/service/player.service.js"></script>
        <script src="js/service/audio.service.js"></script>

        <script src="js/dao/database.js"></script>
        <script src="js/dao/config.dao.js"></script>
        <script src="js/dao/biblia.dao.js"></script>
        <script src="js/dao/hino.dao.js"></script>
        <script src="js/dao/leitura.dao.js"></script>
        <script src="js/dao/pdf.dao.js"></script>
    </head>
    <body ng-app="calvinApp" class="calvin" ng-init>

    <ion-side-menus>
        <ion-side-menu-content class="post-size-14px">
            <ion-nav-bar class="bar app-top-bar">
                <ion-nav-back-button title="{{'global.voltar' | translate}}"></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                            title="{{'global.menu.menu' | translate}}" id="menu">
                    </button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right" >
                    <button ng-if="!usuario" class="button button-icon" nav-clear ui-sref="login"
                            titel="{{'global.menu.login' | translate}}">
                        <span class='fa fa-lock'></span>
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="content"></ion-nav-view>
            <ion-footer-bar class='bar-assertive' ng-show='offline'>
                <h1 class="title">
                    <i class='fa fa-chain-broken'></i>
                    {{'mensagens.MSG-605' | translate}}
                </h1>
            </ion-footer-bar>
        </ion-side-menu-content>

        <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
            <ion-content>
                <ion-list>
                    <ion-item href='' class='menu-header' role="presentation">
                        <img class="igreja-image" alt='${nome.igreja}' ng-src="img/logo.png">
                    </ion-item>

                    <div nav-clear menu-close ui-sref="usuario"
                         aria-labelledby="dados_usuario" role="group"
                              ng-if="usuario" class="item item-avatar user" >
                        <span class='item-image icon ion-person' role="presentation" ng-if="!usuario.foto"></span>
                        <span class="item-image" style="background-image: url({{localPath(usuario.foto)}})" role="presentation" ng-if="usuario.foto" ></span>

                        <h2 class='menu-text' id="dados_usuario">{{usuario.nome}}</h2>
                    </div>

                      <ion-item class="item item-parent" ng-repeat-start="mnu in menu.submenus"
                                aria-labelledby="menu_{{menu.submenus.indexOf(menu)}}" role="group"
                                ng-if="mnu.submenus.length" title="{{mnu.nome}}" ng-click="toggleMenu(mnu)"
                                ng-class="{active: mnu.selecionado,'item-icon-left':mnu.icone,'item-icon-right':!mnu.notificacoes}" >
                        <a href="javascript:void(0)" class="item-content" title="{{mnu.nome}}">
                          <span class='icon {{mnu.icone}}' role="presentation" ng-if="mnu.icone"></span>
                          <h2 class="menu-text" id="menu_{{menu.submenus.indexOf(menu)}}" >{{mnu.nome}}</h2>
                          <span ng-if="mnu.notificacoes" class="badge badge-stable pull-right">
                            {{mnu.notificacoes}}
                          </span>

                          <span class='icon fa fa-chevron-right' ng-if="!mnu.notificacoes && !mnu.selecionado"></span>
                          <span class='icon fa fa-chevron-down' ng-if="!mnu.notificacoes && mnu.selecionado"></span>
                        </a>
                      </ion-item>

                      <ion-item nav-clear menu-close class="item" ng-class="{'item-icon-left':mnu.icone}"
                                aria-labelledby="menu_{{menu.submenus.indexOf(menu)}}" role="group"
                                ng-if="!mnu.submenus.length" ui-sref="{{mnu.link}}" title="{{mnu.nome}}">
                        <span class='icon {{mnu.icone}}' role="presentation" ng-if="mnu.icone"></span>
                        <h2 class="menu-text" id="menu_{{menu.submenus.indexOf(menu)}}" >{{mnu.nome}}</h2>
                      </ion-item>

                      <ion-item class="item-accordion item" ng-class="{'item-icon-left':sbm.icone}" ng-repeat-end
                                aria-labelledby="submenu_{{menu.submenus.indexOf(menu)}}_{{mnu.submenus.indexOf(sbm)}}" role="group"
                                ng-repeat="sbm in mnu.submenus" ng-show="mnu.selecionado"
                                nav-clear menu-close ui-sref="{{sbm.link}}" title="{{sbm.nome}}">
                        <span class='icon {{sbm.icone}}' role="presentation" ng-if="sbm.icone"></span>
                        <h2 class="menu-text" id="submenu_{{menu.submenus.indexOf(menu)}}_{{mnu.submenus.indexOf(sbm)}}">{{sbm.nome}}</h2>
                        <span ng-if="sbm.notificacoes" class="badge badge-stable pull-right">{{sbm.notificacoes}}</span>
                      </ion-item>

                    <div class='menu-end'></div>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>

</body>
</html>
