<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' gap://* file://* *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
        <meta name="format-detection" content="telephone=no">   
        <title></title>
        
        <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
        <link href="js/components/pace/pace.css" rel="stylesheet">
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
        <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.min.css" rel="stylesheet">
        
        <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
        <script src="lib/ionic-service-core/ionic-core.js"></script>
        <script src="lib/ionic-service-push/ionic-push.js"></script>
        <script src="lib/angular-resource/angular-resource.min.js"></script>
        <script src="lib/underscore/underscore-min.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
        <script src="lib/moment/min/moment.min.js"></script>
        <script src="lib/angular-moment/angular-moment.min.js"></script>
        
        <script src="lib/angular-animate/angular-animate.min.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="lib/lodash/lodash.min.js"></script>
        <script src="lib/restangular/dist/restangular.min.js"></script>
        <script src="lib/angular-translate/angular-translate.min.js"></script>
        <script src="lib/messageformat/messageformat.js"></script>
        <script src="lib/messageformat/locale/pt.js"></script>
        <script src="lib/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.min.js"></script>
        <script src="lib/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
        <script src="lib/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
        <script src="lib/onezone-datepicker/dist/onezone-datepicker.min.js"></script>
        <script src="lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.min.js"></script>
        <script src="lib/angular-ui-mask/dist/mask.min.js"></script>
        <script src="js/youtube/iframe_api.js"></script>
        <script src="lib/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
        
        <!-- cordova script (this will be a 404 during development) -->
        <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
        <script src="cordova.js"></script>
        
        <!-- your app's js -->
        <script src="js/config.js"></script>
        <script src="js/app.js"></script>
        <script src="js/components/message/message.factory.js"></script>
        <script src="js/components/pagination/pagination.directive.js"></script>
        <script src="js/components/pace/pace.js"></script>
        <script src="js/components/template/template.js"></script>
        <script src="js/components/filter/mask.filter.js"></script>
        
        <script src="js/institucional/institucional.controller.js"></script>
        <script src="js/boletim/boletim.controller.js"></script>
        <script src="js/estudo/estudo.controller.js"></script>
        <script src="js/login/login.controller.js"></script>
        <script src="js/contato/contato.controller.js"></script>
        <script src="js/oracao/oracao.controller.js"></script>
        <script src="js/votacao/votacao.controller.js"></script>
        <script src="js/agenda/agenda.controller.js"></script>
        <script src="js/preferencias/preferencias.controller.js"></script>
        <script src="js/hino/hino.controller.js"></script>
        <script src="js/evento/evento.controller.js"></script>
        <script src="js/home/home.controller.js"></script>
        <script src="js/cifra/cifra.controller.js"></script>
        <script src="js/chamado/chamado.controller.js"></script>
        <script src="js/notificacao/notificacao.controller.js"></script>
        <script src="js/ebd/ebd.controller.js"></script>
        <script src="js/youtube/youtube.controller.js"></script>
        <script src="js/biblia/biblia.controller.js"></script>
        
        <script src="js/service/link.service.js"></script>
        <script src="js/service/boletim.service.js"></script>
        <script src="js/service/institucional.service.js"></script>
        <script src="js/service/estudo.service.js"></script>
        <script src="js/service/acesso.service.js"></script>
        <script src="js/service/contato.service.js"></script>
        <script src="js/service/oracao.service.js"></script>
        <script src="js/service/votacao.service.js"></script>
        <script src="js/service/agenda.service.js"></script>
        <script src="js/service/hino.service.js"></script>
        <script src="js/service/evento.service.js"></script>
        <script src="js/service/arquivo.service.js"></script>
        <script src="js/service/pdf.service.js"></script>
        <script src="js/service/cifra.service.js"></script>
        <script src="js/service/chamado.service.js"></script>
        <script src="js/service/cache.service.js"></script>
        <script src="js/service/notificacao.service.js"></script>
        <script src="js/service/share.service.js"></script>
        <script src="js/service/youtube.service.js"></script>
        <script src="js/service/biblia.service.js"></script>
        
        <script src="js/dao/database.js"></script>
        <script src="js/dao/biblia.dao.js"></script>
        <script src="js/dao/hino.dao.js"></script>
    </head>
    <body ng-app="calvinApp" class="calvin" ng-init>
        
    <ion-side-menus>
        <ion-side-menu-content class="post-size-14px">
            <ion-nav-bar class="bar app-top-bar">
                <ion-nav-back-button>
                </ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                            title="{{'global.menu.menu' | translate}}">
                    </button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right" >
                    <button ng-if="!usuario" class="button button-icon" nav-clear ui-sref="login"
                            titel="{{'global.menu.login' | translate}}">
                        <span class='fa fa-lock'></span>
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="content"></ion-nav-view>
            <ion-footer-bar class='bar-assertive' ng-show='offline'>
                <h1 class="title">
                    <i class='fa fa-chain-broken'></i>
                    {{'mensagens.MSG-605' | translate}}
                </h1>
            </ion-footer-bar>
        </ion-side-menu-content>
        
        <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
            <ion-content>
                <ion-list>
                    <ion-item href='' class='menu-header'>
                        <img class="igreja-image" alt='${nome.igreja}' ng-src="img/logo.png">
                    </ion-item>
                    
                    <ion-item ng-if="usuario" class="item item-icon-left item-icon-right user" >
                        <span nav-clear menu-close ui-sref="alteraSenha" class='icon ion-person'></span>
                        <h2 nav-clear menu-close ui-sref="alteraSenha" class='menu-text'
                            title="{{'global.menu.alterar_senha' | translate}}">{{usuario.nome}}</h2>
                        <span ng-click='logout()' class='icon icon-right fa fa-power-off'
                              title="{{'global.menu.logout' | translate}}"></span>
                    </ion-item>
                    
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="home" title="{{'home.inicio' | translate}}">
                        <span class='icon fa fa-home'></span>
                        <h2 class="menu-text">{{'home.inicio' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="institucional" title="{{'institucional.institucional' | translate}}">
                        <span class='icon fa fa-cube'></span>
                        <h2 class="menu-text">{{'institucional.institucional' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left"
                              ui-sref="boletim" title="{{'boletim.boletins' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('LISTAR_BOLETINS') >= 0">
                        <span class='icon fa fa-file-text'></span>
                        <h2 class="menu-text">{{'boletim.boletins' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="estudo"
                              title="{{'estudo.estudos' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('LISTAR_ESTUDOS') >= 0">
                        <span class='icon fa fa-book'></span>
                        <h2 class="menu-text">{{'estudo.estudos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="hino" title="{{'hino.hinos' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('CONSULTAR_HINARIO') >= 0">
                        <span class='icon fa fa-music'></span>
                        <h2 class="menu-text">{{'hino.hinos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="cifra" title="{{'cifra.cifras' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('CONSULTAR_CIFRAS') >= 0">
                        <span class='icon fa fa-file-audio-o'></span>
                        <h2 class="menu-text">{{'cifra.cifras' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="biblia" title="{{'biblia.biblia' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('BIBLIA') >= 0">
                        <span class='icon fa fa-plus-square'></span>
                        <h2 class="menu-text">{{'biblia.biblia' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="youtube" title="{{'youtube.videos' | translate}}"
                              ng-if="funcionalidadesPublicas.indexOf('YOUTUBE') >= 0">
                        <span class='icon fa fa-youtube-play'></span>
                        <h2 class="menu-text">{{'youtube.videos' | translate}}</h2>
                    </ion-item>
                    
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="contato" title="{{'contato.contatos' | translate}}"
                              ng-if="funcionalidades.indexOf('CONSULTAR_CONTATOS_IGREJA') >= 0">
                        <span class='icon fa fa-users'></span>
                        <h2 class="menu-text">{{'contato.contatos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="votacao" title="{{'votacao.votacoes' | translate}}"
                              ng-if="funcionalidades.indexOf('REALIZAR_VOTACAO') >= 0">
                        <span class='icon fa fa-check-square'></span>
                        <h2 class="menu-text">{{'votacao.votacoes' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="oracao" title="{{'oracao.pedidos' | translate}}"
                              ng-if="funcionalidades.indexOf('PEDIR_ORACAO') >= 0">
                        <span class='icon fa fa-heart'></span>
                        <h2 class="menu-text">{{'oracao.pedidos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="agenda" title="{{'agenda.agendamentos' | translate}}"
                              ng-if="funcionalidades.indexOf('AGENDAR_ACONSELHAMENTO') >= 0">
                        <span class='icon fa fa-comments'></span>
                        <h2 class="menu-text">{{'agenda.agendamentos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="evento" title="{{'evento.eventos' | translate}}"
                              ng-if="funcionalidades.indexOf('REALIZAR_INSCRICAO_EVENTO') >= 0">
                        <span class='icon fa fa-calendar'></span>
                        <h2 class="menu-text">{{'evento.eventos' | translate}}</h2>
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" 
                              ui-sref="ebd" title="{{'ebd.ebd' | translate}}"
                              ng-if="funcionalidades.indexOf('REALIZAR_INSCRICAO_EBD') >= 0">
                        <span class='icon fa fa-file-text-o'></span>
                        <h2 class="menu-text">{{'ebd.ebd' | translate}}</h2>
                    </ion-item>
                    <ion-item class="item item-icon-left" nav-clear menu-close 
                              ui-sref="notificacao" title="{{'notificacao.notificacoes' | translate}}"> 
                        <span class='icon fa fa-exclamation-circle'></span>
                        <h2 class="menu-text">{{'notificacao.notificacoes' | translate}}</h2>
                        <span class="badge badge-stable" ng-show="notifications">{{notifications}}</span>
                    </ion-item>
                    <ion-item class="item item-icon-left" nav-clear menu-close 
                              ui-sref="chamado" title="{{'chamado.chamados' | translate}}">
                        <span class='icon fa fa-comment'></span>
                        <h2 class="menu-text">{{'chamado.chamados' | translate}}</h2>
                    </ion-item>
                    <ion-item class="item item-icon-left" nav-clear menu-close 
                              ui-sref="preferencias" title="{{'preferencias.preferencias' | translate}}">
                        <span class='icon fa fa-cog'></span>
                        <h2 class="menu-text">{{'preferencias.preferencias' | translate}}</h2>
                    </ion-item>
                    
                    <div class='menu-end'></div>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
    
</body>
</html>
