<ion-view>
    <ion-nav-title>
        <span translate>evento.evento</span>
    </ion-nav-title>
    <ion-content>
        <div class="item">
            <h1>
                {{evento.nome }}
            </h1>
        </div>
        
        <div class='item item-text-wrap white-space'>{{evento.descricao}}</div>
        <div class='item item-input'>
            <label class='input-label' translate>evento.dataHoraInicio</label>
            {{evento.dataHoraInicio | date:'dd MMMM yyyy HH:mm'}}
        </div>
        <div class='item item-input'>
            <label class='input-label' translate>evento.dataHoraTermino</label>
            {{evento.dataHoraTermino | date:'dd MMMM yyyy HH:mm'}}
        </div>
        <div class='item item-divider'>
            {{'evento.inscricao' | translate}}
        </div>
        <div class='item item-input'>
            <label class='input-label' translate>evento.vagas</label>
            {{evento.limiteInscricoes}}
        </div>
        <div class='item item-input'>
            <label class='input-label' translate>evento.dataHoraInicioInscricao</label>
            {{evento.dataInicioInscricao | date:'dd MMMM yyyy HH:mm'}}
        </div>
        <div class='item item-input'>
            <label class='input-label' translate>evento.dataHoraTerminoInscricao</label>
            {{evento.dataTerminoInscricao | date:'dd MMMM yyyy HH:mm'}}
        </div>
        <div class='item item-input' ng-if='evento.exigePagamento'>
            <label class='input-label' translate>evento.valor</label>
            {{evento.valor | currency:'R$ '}}
        </div>
        
        <div class='item' ng-if='evento.inscricoesAbertas && evento.vagasRestantes > 0' >
            <button class='button button-block button-positive' 
                    ng-click='inscricao()'>
                {{'evento.realizar_inscricao' | translate}}
            </button>
        </div>
        <div class='item' ng-if='evento.inscricoesAbertas && evento.vagasRestantes == 0' >
            <button class='button button-block button-positive' disabled="true">
                {{'evento.sem_vagas' | translate}}
            </button>
        </div>
        <div class='item' ng-if='!evento.inscricoesAbertas && evento.inscricoesFuturas' >
            <button class='button button-block' disabled="true" >
                {{'evento.inscricoes_ainda_nao_disponiveis' | translate}}
            </button>
        </div>
        <div class='item' ng-if='!evento.inscricoesAbertas && evento.inscricoesPassadas' >
            <button class='button button-block' disabled="true" >
                {{'evento.inscricoes_encerradas' | translate}}
            </button>
        </div>
        <div class="item item-divider" ng-show="inscricoes.length">
            {{'evento.minhas_inscricoes' | translate}}
        </div>
        <calvin-pagination searcher='searcherInscricoes' ng-model="inscricoes" 
                           ng-show="inscricoes.length">
            <ion-item ng-repeat="inscricao in inscricoes">
                <span class="item-note">{{'evento.status_inscricao.' + inscricao.status | translate}}</span>
                <h2>{{inscricao.nomeInscrito}}</h1>
                <p>{{inscricao.emailInscrito}}</p>
            </ion-item>
        </calvin-pagination>
    </ion-content>
</ion-view>