<ion-view>
    <ion-nav-title>
        <span translate>login.alterar_senha</span>
    </ion-nav-title>
    <ion-content>
        <label class="item item-input" >
            <input placeholder="{{'login.nova_senha' | translate}}" type="password" ng-model="membro.novaSenha" >
        </label>
        <label class="item item-input" >
            <input placeholder="{{'login.confirmacao_senha' | translate}}" type="password" ng-model="membro.confirmacaoSenha" >
        </label>
        <div class='item' >
            <button class='button button-block button-positive' 
                    ng-click='alteraSenha()'>
                {{'login.alterar_senha' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>