<ion-view>
    <ion-nav-title>
        <span>{{publicacao.titulo}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a data-tap-disabled="true" ng-click="share()" href=""
           class="button button-icon icon positive ion-android-share-alt"
           title="{{'global.compartilhar' | translate}}"></a>
    </ion-nav-buttons>
    <ion-content>
      <pdf-gallery titulo="{{publicacao.titulo}}" ng-if="publicacao" pdf="publicacao.boletim"></pdf-gallery>
    </ion-content>
</ion-view>
