<ion-view>
    <ion-nav-title>
        <span translate>publicacao.publicacoes</span>
    </ion-nav-title>
    <calvin-pagination ng-model="publicacoes" searcher="searcher" cache="publicacoes">
      <div class="item item-divider"
           ng-repeat-start="publicacao in publicacoes"
           ng-if="primeiroDaLetra(publicacoes, publicacao)">
        {{letra(publicacao)}}
      </div>
      <ion-item ng-click='detalhar(publicacao)' ng-repeat-end >
        <h2>
          {{publicacao.titulo}}
        </h2>
      </ion-item>
    </calvin-pagination>
</ion-view>
