<ion-view>
    <ion-nav-title>
        <span translate>ebd.ebds</span>
    </ion-nav-title>
    <calvin-pagination searcher='searcher' ng-model="ebds" cache='ebds'>
        <ion-item class="item-text-wrap"
                  ng-repeat="ebd in ebds"
                  ng-click="detalhar(ebd)">
          <span class="badge badge-energized" ng-if="ebd.inscricoesAbertas && !ebd.vagasRestantes" translate>ebd.vagas_esgotadas</span>
          <span class="badge badge-balanced" ng-if="ebd.inscricoesAbertas && ebd.vagasRestantes == 1" translate>ebd.uma_vaga_restante</span>
          <span class="badge badge-balanced" ng-if="ebd.inscricoesAbertas && ebd.vagasRestantes > 1">{{'ebd.n_vagas_restantes' | translate:{vagas:ebd.vagasRestantes} }}</span>
          <span class="badge badge-calm" ng-if="ebd.inscricoesFuturas" translate>ebd.inscricoes_ainda_nao_disponiveis</span>
          <span class="badge badge-stable" ng-if="ebd.inscricoesPassadas" translate>ebd.inscricoes_encerradas</span>

          <h2>{{ebd.nome}}</h2>
          <p>{{ebd.dataHoraInicio | date:'dd MMMM yyyy HH:mm'}} - {{ebd.dataHoraTermino | date:'dd MMMM yyyy HH:mm'}}</p>
        </ion-item>
    </calvin-pagination>
</ion-view>
