<ion-view>
  <ion-nav-title>
    <span translate>ebd.inscricao</span>
  </ion-nav-title>
  <ion-content>
    <div class="item">
      <h2>
        {{ebd.nome }}
      </h2>
    </div>
    <div class='item item-input' >
      <label class='input-label'>{{'ebd.vagas_restantes' | translate}}</label>
      {{ebd.vagasRestantes - inscricoes.length}}
    </div>

    <form id="inscricoes_form" name="inscricoes_form" ng-submit="conclui(this.inscricoes_form)">
      <div ng-repeat="inscricao in inscricoes">
        <div class='item item-divider item-icon-right'>
          {{'ebd.inscrito' | translate:{index:inscricoes.indexOf(inscricao) + 1} }}

          <a class="icon" ng-if='inscricoes.length > 1' ng-click='removeInscricao(inscricao)'>
            <i class='fa fa-trash'></i>
          </a>
        </div>

        <div class='item item-input' >
          <label class='input-label' >{{'ebd.nome' | translate }}</label>
          <input type='text' required ng-model='inscricao.nomeInscrito' autocomplete="datasets[inscricoes.indexOf(inscricao)]" />
        </div>
        <div class='item item-input' >
          <label class='input-label' >{{'ebd.email' | translate }}</label>
          <input type='email' required ng-model='inscricao.emailInscrito' />
        </div>
        <div class='item item-input' >
          <label class='input-label' >{{'ebd.telefone' | translate }}</label>
          <input type='tel' required autocomplete="off" autocorrect="off" autocapitalize="off"
                 spellcheck="false" telefone ng-model='inscricao.telefoneInscrito' />
        </div>
      </div>

      <div class='item' >
        <button class='button button-block button-positive icon ion-plus-circled' type="button"
                ng-if='inscricoes.length < ebd.vagasRestantes' ng-click='addInscricao()'>
          {{'ebd.adicionar_inscrito' | translate}}
        </button>
      </div>

      <div class='item item-divider' >
        {{'ebd.concluir_inscricao' | translate}}
      </div>
      <div class='item item-input' >
        <label class='input-label'>{{'ebd.total_inscricoes' | translate}}</label>
        {{inscricoes.length}}
      </div>
      <div class='item item-input' ng-if='ebd.exigePagamento'>
        <label class='input-label'>{{'ebd.valor_total' | translate}}</label>
        {{ebd.valor * inscricoes.length | currency:'R$ '}}
      </div>
      <div class='item'>
        <button type="submit" class='button button-block button-positive' >
          {{'ebd.concluir_inscricao' | translate}}
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
