<div class="modal playing-modal" style="background-image: url({{playerStatus.track.capa}})" >
  <ion-header-bar ng-click="playerStatus.hidePlaying()" class="bar bar-header transparent" >
    <a href=""
       class="button button-icon ion-chevron-down"
       title="{{'global.compartilhar' | translate}}"></a>
    <div class="h1 title" translate>audio.tocando</div>
  </ion-header-bar>

  <div class="list card">
    <div class="item">
      <h2>{{playerStatus.track.titulo}}</h2>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <div class="item item-image">
          <img ng-src="{{playerStatus.track.capa}}" />
        </div>
      </div>
      <div class="col">
        <div class="item text-center">
          <span ng-click="playerStatus.seekTo(0)" ng-if="playerStatus.paused"
                class='button button-icon secondary ion-skip-backward' ></span>
          <span ng-click="playerStatus.togglePlaying()"
                ng-class="{'ion-play':playerStatus.paused,'ion-pause':!playerStatus.paused}"
                class='button button-icon' ></span>
          <span ng-click="playerStatus.stop()" ng-if="playerStatus.paused"
                class='button button-icon secondary ion-stop' ></span>
        </div>
        <div class="item range range-positive">
          <i>{{playerStatus.position | tempoFormatado}}</i>
          <input type="range" ng-model="playerStatus.position" name="position"
                 min="0" max="{{playerStatus.track.duracao}}" value="{{playerStatus.position}}"
                 ng-change="playerStatus.seekTo(playerStatus.position)" >
          <i>{{playerStatus.track.duracao | tempoFormatado}}</i>
        </div>
      </div>
    </div>
  </div>

</div>
