.transparent {
  background: rgba(0,0,0,0.9) !important;
}

.pdf-modal,
.video-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  text-align:center;
}

.pdf-modal .slider-slides {
  width: initial !important;
}

.video-modal iframe {
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.banner-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  text-align:center;
}

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .9;
  }

  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(0,0,0,0.9);
    opacity: 0;
  }
}

.leitura h1 { font-size: 90px !important; margin: 5px 0 5px }
.leitura h4 { font-size: 20px !important; }

.calvin .action-sheet .button,
.calvin .action-sheet .button:hover {
  background-color: transparent !important;
  color: #000;
}

.platform-android .action-sheet .button,
.platform-android .action-sheet .button:hover {
  padding: 0 15px;
  border-top: 1px solid #ddd !important;
}

.platform-android .action-sheet .action-sheet-title {
  text-align: center;
  font-size: 16px;
  background: #ddd;
  color: #333;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

h2.title {
  font-size: 20px !important;
  font-weight: bold;
}

.item.votacao h2 {
  font-size: 18px !important;
}

.item.contato h2 {
  font-size: 24px !important;
}

.calvin .main-menu.menu .item.user h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.main-menu .item.item-avatar {
  padding-left: 52px;
  line-height: 50px;
  min-height: 53px;
}

.main-menu .item.item-avatar .item-content {
  min-height: 20px;
  max-height: 20px;
  padding: 1px;
}

.main-menu .item.item-avatar .item-image:before {
  font-size: 30px;
}

.calvin .main-menu.menu .item.menu-header a {
  padding: 0px;
}

.main-menu .item.item-avatar .item-image {
  top: 11px;
  left: 16px;
  max-width: 30px;
  max-height: 30px;
  line-height:  30px;
  padding: 0;
  margin: 0;
}

.main-menu .item.item-accordion {
  height: 47px;
  transition: 90ms all linear;
}

.main-menu .item.item-accordion.ng-hide {
  height: 0;
}

.main-menu .item.item-accordion.ng-hide-add,
.main-menu .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.calvin .main-menu.menu .item {
  border-color: #cdcdcd;
}

.calvin .main-menu.menu .scroll-content {
  background-color: #fff;
}

.calvin .main-menu.menu .item,
.calvin .main-menu.menu .item a,
.calvin .menu.menu-left .item .icon:before {
  background: transparent;
}

.calvin .menu.menu-left .item .icon:before {
  color: #999;
}

.calvin .menu.menu-left .item.item-parent.active {
  background-color: #eee !important;
}

.calvin .main-menu.menu.menu-left .item.item-accordion {
  background-color: #e4e4e4 !important;
  border-color: #cdcdcd;
}

.calvin .menu.menu-left .item.item-parent .icon.fa.fa-chevron-down:before,
.calvin .menu.menu-left .item.item-parent .icon.fa.fa-chevron-right:before {
  color: #bdbdbd;
  font-size: 12px;
}

.calvin .menu.menu-left .item.item-parent.active .icon:before {
  color: #000;
}

.calvin .menu.menu-left .item.user {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.calvin .menu.menu-left .item.user h2 {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.calvin .main-menu.menu .item h2 {
  color: #000 !important;
  font-weight: bold;
}

.calvin.menu.menu-left .item .badge {
  background-color: #000;
  color: #fff;
}

.calvin .view-container .badge {
  position: initial;
  display: initial;
  float: right;
}

.calendario .item .list,
.calendario .item .list:last-child {
  margin: -18px -15px -18px 5px;
}


.calendario .item .list .item {
  border-left: none;
  border-color: #d3d3d3;
}

.calendario .item.hoje {
  border-left: 10px solid #333;
}

.calendario .item.hoje .list {
  margin-left: -4px;
}

.calendario .item.hoje .icon {
  left: 5px;
}

.estudo .slider {
  top: 80px;
  bottom: 0;
  height: auto;
  position: absolute;
}

.modal.imageView {
  top:0;
  right:0;
  left:0;
  bottom:0;
  width:auto;
}

.modal .scroll {
  min-height: inherit;
  height: auto
}

.modal.filled .scroll {
  min-height: 100%;
  height: 100%
}

.item.item-image.gallery-slide-view img:first-child,
.item.item-image.gallery-slide-view .list-img {
  vertical-align: top;
}

.platform-ios .title.title-center.header-item {
  left: 49px!important;
  right: 49px!important;
}

.usuario .item-note {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #fff;
}

.usuario .item-note .fa {
  margin-right: 5px;
  color: #fff;
}


.calvin .popover.autocomplete {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px; }

.calvin .popover.autocomplete .bar-header {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px; }

.calvin .popover.autocomplete .scroll-content {
  margin: 8px 0;
  border-radius: 10px; }

.calvin .popover.autocomplete .scroll-content.has-header {
  margin-top: 0;
}

.calvin .autocomplete .popover-arrow {
  position: absolute;
  display: block;
  top: -17px;
  width: 30px;
  height: 19px;
  overflow: hidden; }

.calvin .autocomplete .popover-arrow:after {
  position: absolute;
  top: 12px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 3px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.calvin .autocomplete.popover-bottom .popover-arrow {
  top: auto;
  bottom: -10px; }

.calvin .autocomplete.popover-bottom .popover-arrow:after {
  top: -6px; }

.calvin.platform-android .popover.autocomplete {
  margin-top: 0;
}

.calvin.platform-android .popover.autocomplete.popover-bottom {
  margin-top: 0; }

.calvin .popover-backdrop,
.calvin .popover-backdrop.active {
  background-color: transparent;
}

.calvin .autocomplete .item {
  min-height: 54px;
  height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.calvin .autocomplete .item * {
  font-size: 12px;
}

.calvin .usuario .item h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.onezone-datepicker-button:after {
  border-bottom: 6px solid #000 !important;
}

.onezone-datepicker-button {
  border-bottom: 1px solid #000 !important;
}

.onezone-datepicker-navigation-arrow {
  color: #000 !important;
}

.onezone-datepicker-modal-item.onezone-datepicker-modal-item-active {
  background-color: #BBBBBB !important;
}

.onezone-datepicker-day {
  background: #b3b3b3 !important;
  color: #fff !important;
  border-color: #b3b3b3 !important;
}

.onezone-datepicker-day.onezone-datepicker-disable-day {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.onezone-datepicker-day.onezone-datepicker-different-month {
  background: #fff !important;
  color: #b3b3b3 !important;
  border: 1px solid #b3b3b3 !important;
}

.onezone-datepicker.onezone-datepicker-show {
  background: none !important;
  border-bottom: none !important;
}

.onezone-datepicker-week {
  color: #b3b3b3;
}

.onezone-datepicker-day.onezone-datepicker-active-day {
  border-color: #000 !important;
  background-color: #000 !important;
  color: #fff !important;
}

.onezone-datepicker-day.onezone-datepicker-current-day {
  border-color: #000 !important;
}

.card.login-container .item:last-child,
.list-inset .item:last-child {
  border: 0;
}

.calvin .card.login-container .item .ion-eye:before {
  margin-right: 10px;
}
