.transparent {
    background: rgba(0,0,0,0.9) !important;
}

.video-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    text-align:center;
}

.video-modal iframe {
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.banner-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  text-align:center;
}

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .9;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: rgba(0,0,0,0.9);
        opacity: 0;
    }
}

.leitura h1 { font-size: 90px !important; margin: 5px 0 5px }
.leitura h4 { font-size: 20px !important; }

.action-sheet .button,
.action-sheet .button:hover {
  background-color: transparent !important;
  color: #000;
}

.item.contato h2 {
  font-size: 24px !important;
}

.main-menu .item.item-accordion {
  height: 47px;
  transition: 90ms all linear;
}

.main-menu .item.item-accordion.ng-hide {
  height: 0;
}

.main-menu .item.item-accordion.ng-hide-add,
.main-menu .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.main-menu .item.item-parent.active {
  box-shadow: 0 3px 5px;
}

.main-menu .item.active .icon:before {
  background-color: transparent !important;
}

.calvin .main-menu .item.item-accordion {
  background-color: rgba(0, 0, 0, 0.15) !important;
}


.calendario .item .list,
.calendario .item .list:last-child {
  margin: -18px -15px -18px 5px;
}

.calendario .item.hoje {
  border-left: 10px solid blue;
}

.calendario .item.hoje .list {
  margin-left: -4px;
}

.calendario .item.hoje .icon {
  left: 5px;
}

.calvin .menu.menu-left .item .icon.fa.fa-chevron-right,
.calvin .menu.menu-left .item .icon.fa.fa-chevron-down {
  font-size: 12px;
}

.estudo .slider {
  height: 80%;
}
