.calvin .bar.app-top-bar,
.calvin .bar.app-top-bar .button,
.calvin .bar.app-top-bar .button:hover {
    background-color: #423F40;	
}

.calvin .login-view a,
.calvin .login-view a:hover {
	color: #83170F;
}

.calvin .home .social a {
    background-color: #423F40;
    color: #fff;
}
.calvin .item h1, .calvin .item h1 span,
.calvin .item h2, .calvin .item h2 span {
	color: #83170F !important;
}

.profile-view .top-content,
.calvin .bar.app-top-bar {
    border-bottom-color: #83170F;
}

.calvin .boletim { 
    
}

.onezone-datepicker-modal-item.onezone-datepicker-modal-item-active {
    background-color: #BBBBBB !important;
}

.onezone-datepicker-day.onezone-datepicker-active-day {
    border-color: #BBBBBB !important;
    background-color: #83170F !important;
    color: #fff !important;
}

.onezone-datepicker-button:after {
    border-bottom: 6px solid #BBBBBB !important;
}

.onezone-datepicker-button {
    border-bottom: 1px solid #BBBBBB !important;
}

.onezone-datepicker-navigation-arrow {
    color: #BBBBBB !important;
}

.onezone-datepicker-day.onezone-datepicker-current-day {
    border-color: #BBBBBB !important;
}

.onezone-datepicker-day.onezone-datepicker-disable-day {
    background: none;
    color: #FBFAFA;
}

.onezone-datepicker.onezone-datepicker-show {
    background: none !important;
    border-bottom: none !important;
}

.icon {
    color: #423F40;
}

.calvin .item h1 {
    white-space: initial;
}

.calvin .filter-bar .button,
.calvin .filter-bar .button:hover,
.calvin .filter-bar .button:disabled {
    background-color: transparent;
    color: inherit;
}

.calvin .button,
.calvin .button:hover {
    background-color: #83170F;
    color: #fff
}

.calvin .button.activated,
.calvin .button.activated:hover {
    background-color: #423F40;
}

.calvin .button:disabled {
    background-color: #BBBBBB;
    color: #2d2d2d;
}

.calvin .main-menu.menu .scroll-content {
    background-color: #D6B4A6;
}

.calvin .main-menu.menu .item,
.calvin .main-menu.menu .item a {
    background: transparent;
}

.calvin .menu.menu-left .item .icon:before {
    background-color: #D6B4A6;
}

.calvin .menu.menu-left .item.user .icon:before {
    background-color: #83170F;
    color: #fff;
}
.calvin .menu.menu-left .item.user,
.calvin .menu.menu-left .item.user .icon.icon-right:before {
    background-color: #83170F;
    color: #fff;
}

.calvin .item {
    border-color: #E7BD00;
}

.calvin .main-menu.menu .menu-end,
.calvin .main-menu.menu .item {
    border-color: #fff;
    border-top-width: 2px;
}
.calvin .main-menu.menu .item h2 {
    color: #fff !important;
}

.calvin .item.item-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D6B4A6;
    color: #423F40;
}