<ion-view>
    <ion-nav-title>
        <span translate>noticia.noticia</span>
    </ion-nav-title>
    <ion-content class='noticia has-header'>
        <div class="item">
          <h2>{{noticia.titulo}}</h2>
          <span class="item-note">{{noticia.dataPublicacao | date:'dd MMMM yyyy HH:mm'}}</span>
          <p>{{'noticia.publicado_por' | translate:{autor: noticia.autor.nome}}</p>
        </div>
        <div class="item item-body " >
          <img class="full-image" ng-click="zoomIlustracao()" src="{{ilustracao(noticia)}}" ng-if="noticia.ilustracao">
            <p class="html-div" ng-bind-html='noticia.texto'></p>
        </div>
    </ion-content>
</ion-view>
