<ion-view>
    <ion-nav-title>
        <span translate>noticia.noticias</span>
    </ion-nav-title>
    <calvin-pagination searcher="searcher" ng-model="noticias" cache="noticias" class="noticias">
      <div class="list card" ng-click="detalhar(noticia)" ng-repeat="noticia in noticias">

        <div class="item item-text-wrap">
          <h2 class="title">{{noticia.titulo}}</h2>
          <span class="item-note">{{noticia.dataPublicacao | date:'dd MMMM yyyy HH:mm'}}</span>
          <p>{{'noticia.publicado_por' | translate:{autor: noticia.autor.nome} }}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-if="noticia.ilustracao" ng-src="{{ilustracao(noticia)}}">
          <p>
            {{noticia.resumo}}
          </p>
        </div>

      </div>
    </calvin-pagination>
</ion-view>
